.panel{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .panelContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: lightgray;
        border: 2px solid black;
        border-radius: 8px;
        padding: 2rem;
        margin: 0.5rem;
    }

    .header{
        display: flex;
        font-weight: bold;
    }
    
    .body{
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: 1rem;
    }
    
    .footer{
        margin-top: 1rem;
    }
    
}



