.catListItem{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto 0.5fr 0.5fr;
    row-gap: 0.25px;
    align-items: center;
    background-color: lightgray;
    border: 1px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0.25rem 0;

    .imageBox{
        display: flex;
        .image{
            height: auto;
            width: 100%;
        }
    }

    .catFactText {
        width: clamp(fit-content, 30%, 200px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 0.25rem;
    }

    .length{
        justify-self: center;
        min-width: fit-content;
        padding-left: 0.25rem;
    }
}



