.catListSection {
    display: grid;
    grid-template-columns: repeat(1fr, 60%, 1fr);
    grid-template-rows: 1fr;

    width: 60%;
    margin: 0 auto;

    position: relative;

    .paginationLabel{
        display: flex;
        flex-direction: column;


        &.previous{
            position: sticky;
            top:0;
            background-color: lightgray;
            margin-bottom: 0.5rem;
        }

        &.next{
            position: sticky;
            bottom: 0;
            background-color: lightgray;
            margin-top: 0.5rem;
        }
    }
}

